/* .title{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.custom-table{
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.custom-table th{
    background-color: mediumseagreen;
    color: #fff;
}

.custom-table tr:nth-child(odd){
    background-color: lightgrey;
}

.custom-table tr:nth-child(even){
    background-color: lightblue;
}

.main-heading {
    padding: 30px;;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.active{
    background-color: cornflowerblue;
    color: #fff;
    border: 1px solid red;
}

.btn{
    min-width: 150px;
    background-color: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.btn.btn-warning{
    background-color: seagreen;
}

.btn:hover{
    background-color: cornflowerblue;
}


.btn:disabled {
    background-color: #808080;
    cursor: not-allowed;
}


.title1{
    font-size: 20px;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th{
    background-color: mediumaquamarine;
}


tr:nth-child(odd){
    background-color: antiquewhite;
}
 
tr:nth-child(even){
    background-color: aqua;
}

.mHeading{
    padding: 30px;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.main-nav{
    background-color: cornflowerblue;
    padding: 20px;
}

.list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
   
}

.link{
   text-decoration: none;
   color: #fff;
   font-size: 22px;
} */


body {
    min-width: 600px;
    margin: 0;
    overflow-x: auto;
}

.seasonSelectionWrapper {
    display: flex;
    padding: 10px;
}

.seasonSelectionWrapper select {
    margin: auto;
}


/* Aplikacija - praksa */


/* Driver komponenta 1 */

.DriversChampionship-wrapperDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: gray;
    padding: 15px;
    font-weight: bold;
    width: 100%;
}

.drivers-title {
    color: white;
    font-style: italic;
}

.DriversChampionshipStandings-table {
    width: 100%;
    border-collapse: collapse;
}

.DriversChampionshipStandings-table td {
    border: 1px solid #dedede;
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    color: gray;
}

.raceTable-headerMain td {
    background-image: linear-gradient(#dedede, #aeaeae);
    padding: 6px;
}

tr td.boldNumbers {
    color: #333333;
}

.toClick {
    cursor: pointer;
}

.zastavica {
    background-color: red;
    width: 20px;
}

/* Driver komponenta 2 */


.driver-details {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: gray;
    font-weight: bold;
    width: 100%;
}

.driver-details .driver-personal-details-div {
    background-color: #333333;
    color: white;
}

.driver-details .driver-personal-details-div .driver-personal-details-header {
    display: flex;
    padding: 10px;
}

.driver-details .driver-personal-details-div .driver-personal-details-header .driver-personal-details-profile-image img {
    width: 80px;
}

.driver-details .driver-personal-details-div .driver-personal-details-header .driver-personal-details-name {
    padding-left: 10px;
}

.driver-details .driver-personal-details-div .driver-personal-details-table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

.driver-details .driver-race-details-div {
    flex-grow: 2;
    padding: 15px;
    width: 100%;
}

.driver-race-details-table {
    width: 100%;
    border-collapse: collapse;
}

.driver-race-details-table td {
    border: 1px solid #dedede;
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    color: gray;
}

.raceTable-headerUp td {
    background-image: linear-gradient(#dedede, #aeaeae);
    padding: 6px;
}

.raceTable-headerDown td {
    background-color: #dedede;
    color: black;
    padding: 5px;
}

.driverDetails-raceDetails {
    display: flex;
}

.driverDetails-raceName {
    margin: auto 5px;
}


/* Linkovi */

.logo-wraper {
    margin: 0;
    border: 1px solid black;
}

.logo {
    margin: 15px;
    width: 200px;
}

.iconsDiv {
    display: flex;
    padding: 5px;
}

.list-items {
    padding: 0;
    margin: 0;
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.icons {
    margin-right: 25px;
    font-size: 35px;
}

.item {
    font-style: italic;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid black;
}
.item:first-child {
    border-top: 1px solid black;
}

.itemText {
    line-height: 35px;
}

.item:hover {
    color: rgb(179, 169, 169);
    transition: ease-out;
}

.main-route {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #333;
}

.navigation {
    height: 100vh;
}

/*
RACE
*/

.raceWraperDiv {
    background-color: #737272;
    width: 100%;
    padding: 10px 40px 40px 40px
}

.title {
    font-size: 40px;
    font-style: italic;
    color: #fff;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;

}

.table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
.table th{
    padding: 10px;
}

.tableHeader td {
    background-color: rgb(187, 186, 186);
    font-size: 22px;
    padding: 10px;
}

tr.table-header{
    text-align: left;
}

.table-header th {
    background-color: rgb(205, 205, 205);
    font-size: 22px;
}

 /* .race-table {
    font-size: 22px;
} */

tr .grand-prix {
    display: flex;
    flex-wrap: wrap;
}

tr .second{
    cursor: pointer;
}

td .second{
    padding-bottom: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.flag {
    margin-right: 10px;
    cursor: pointer;
}

/*
RACE DETAILS
*/
.raceDetailsWraperDiv {
    background-color: #737272;
    display: flex;
    width: 100%;
}

.tableRaceDetails {
    background-color: #2e2d2d;
    border-left: 2px solid black;
    flex: 0 0 18%;
}


.grand-prix-details {
    display: flex;
    flex-direction: column;
}

.grand-prix-details td {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    padding-bottom: 5px;
}

.grand-prix-details td:first-child {
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.grand-prix-details td:last-child a {
    color: white;
    font-size: 20px;
}

.grand-prix-details td {
    color: #fff;
}

.qualifying-header th,
.race-header th {
    background-color: rgb(187, 186, 186);
    padding: 10px;
}

.qualifying-header-down,
.race-header-down {
    background-color: rgb(205, 205, 205);
}

table .table-race,
table .table-qualifying {
    background-color: #fff;
}

.table-race td,
.table-race tr {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}

.table-race th,
.table-qualifying th {
    padding-left: 10px;
    font-size: 20px;
    padding: 10px;
}

.table-qualifying td,
.table-qualifying tr {
    border: 1px solid #ccc;
    padding-left: 10px;
    text-align: left;
}

.table-qualifying {
    border-collapse: collapse;
    flex: 0 0 30%;
    background-color: #fff;
    margin: 25px;
}

.table-race {
    border-collapse: collapse;
    flex: 0 0 44%;
    background-color: #fff;
    margin: 25px;
}

.flag-flex-qualifying {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}

td.flag-flex-qualifying {
    border: none;
}

.flag1 {
    margin-right: 10px;
}

.flag-flex-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

td.flag-flex-result {
    border: none;
}

.flag2 {
    margin-right: 10px;
}

td.position-1 {
    background-color: yellow;
}

td.position-2 {
    background-color: gray;
}

td.position-3 {
    background-color: orange;
}

td.position-4 {
    background-color: lightgreen;
}

td.position-5 {
    background-color: lightblue;
}

td.position-6 {
    background-color: aqua;
}

td.position-7 {
    background-color: coral;
}

td.position-8 {
    background-color: brown
}

td.position-9 {
    background-color: red;
}

td.position-10 {
    background-color: cyan;
}

td.position-other {
    background-color: darkgray;
}

/* Linkovi u Teams */
.teams-links {
    text-decoration: none;
    color: grey;
}

/* .teams-alignment {
    display: flex;
    align-items: center;
} */

/* .team-name-shift-right {
    padding-left: 3px;
} */

/* zastavice i ime tima u TeamDetails */
.driver-personal-details-div .driver-personal-details-header .driver-personal-details-name .team-details-flags img{
    width: 24px;
    height: 24px;
}

.team-name {
    white-space: nowrap;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    body {
        min-width: 650px;
    }
    .main-route {
        flex-direction: column;
    }
    .logo-wraper {
        display: flex;
    }
    .navigation {
        height: unset;
    }
    .logo {
        width: 180px;
        margin: 0;
        padding: 5px 10px 5px 5px;
    }

    .list-items {
        height: 100%;
    }
    .items {
        flex-direction: row;
        height: 100%;
    }
    .item {
        border-bottom: 0;
        border-right: 1px solid black;
    }
    .item:first-child {
        border-left: 1px solid black;
        border-top: 0;
    }
    
    .item .iconsDiv {
        padding: 0 5px;
        height: 100%;
    }
    .item .iconsDiv .icons {
        margin: auto 10px auto 0;
        font-size: 30px;
    }
    .item .iconsDiv .itemText {
        margin: auto 0;
        line-height: 30px;
        font-size: 20px;
    }

    

    .DriversChampionship-wrapperDiv, .raceWraperDiv {
        width: unset;
    }
    
}


/*
RACE
*/
@media screen  and (max-width: 1230px ) {
    .raceWraperDiv{
        width:100%;
       
    }
}

@media screen  and (max-width: 1040px ) {
    .raceWraperDiv{
        width:100%;
       
    }
}

@media screen  and (max-width: 960px ) {
    .raceWraperDiv{
        width:100%;
        
    }
}

@media screen  and (max-width: 800px ) {
    .raceWraperDiv{
        width:100%;
        
    }
}

@media screen  and (max-width: 768px ) {
    .raceWraperDiv{
        width:90%;
        
    }
}

@media screen  and (max-width: 350px ) {
    .raceWraperDiv{
        width:80%;
        
    }
}

/*
RACE DETAILS
*/
@media screen and (max-width: 1300px){
    .raceDetailsWraperDiv {
        flex-direction: column;
    }

    .tableRaceDetails {
        flex: 0 0 14%;
    }

    .table-qualifying {
        flex: 0 0 25%; 
    }

    .table-race {
        flex: 0 0 30%; 
        padding-bottom: 20px;
    }
}

.justForOneLink {
    text-decoration: none;
}