/* .title{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.custom-table{
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.custom-table th{
    background-color: mediumseagreen;
    color: #fff;
}

.custom-table tr:nth-child(odd){
    background-color: lightgrey;
}

.custom-table tr:nth-child(even){
    background-color: lightblue;
}

.main-heading {
    padding: 30px;;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.active{
    background-color: cornflowerblue;
    color: #fff;
    border: 1px solid red;
}

.btn{
    min-width: 150px;
    background-color: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.btn.btn-warning{
    background-color: seagreen;
}

.btn:hover{
    background-color: cornflowerblue;
}


.btn:disabled {
    background-color: #808080;
    cursor: not-allowed;
}


.title1{
    font-size: 20px;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th{
    background-color: mediumaquamarine;
}


tr:nth-child(odd){
    background-color: antiquewhite;
}
 
tr:nth-child(even){
    background-color: aqua;
}

.mHeading{
    padding: 30px;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.main-nav{
    background-color: cornflowerblue;
    padding: 20px;
}

.list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
   
}

.link{
   text-decoration: none;
   color: #fff;
   font-size: 22px;
} */





/* Aplikacija - praksa */

.items{
    display: flex;
    flex-direction: column;
}

.item{
    text-decoration: none;
}


/* Driver komponenta 1 */

.DriversChampionship-wrapperDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: gray;
    padding: 15px;
    font-weight: bold;
}

.drivers-title {
    color: white;
    font-style: italic;

}

.DriversChampionshipStandings-table {
    width: 100%;
    border-collapse: collapse;
}

.DriversChampionshipStandings-table td {
    border: 1px solid #dedede;
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    color: gray;
}

.raceTable-headerMain td {
    background-image: linear-gradient(#dedede, #aeaeae);
    padding: 6px;

}

tr td.boldNumbers {
    color:#333333;
}
/* Driver komponenta 2 */


.driver-details {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: gray;
    font-weight: bold;
}

.driver-details .driver-personal-details-div {
    background-color: #333333;
    color: white;
}

.driver-details .driver-personal-details-div .driver-personal-details-header {
    display: flex;
    padding: 10px;
}

.driver-details .driver-personal-details-div .driver-personal-details-header img {
    width: 80px;
}

.driver-details .driver-personal-details-div .driver-personal-details-header .driver-personal-details-name {
    padding-left: 10px;
}

.driver-details .driver-personal-details-div .driver-personal-details-table {
    border: 1px solid black;
    padding: 10px;
}

.driver-details .driver-race-details-div {
    flex-grow: 2;
    padding: 15px;
}

.driver-race-details-table {
    width: 100%;
    border-collapse: collapse;
}

.driver-race-details-table td {
    border: 1px solid #dedede;
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    color: gray;
}

.raceTable-headerUp td {
    background-image: linear-gradient(#dedede, #aeaeae);
    padding: 6px;
}

.raceTable-headerDown td {
    background-color: #dedede;
    color: black;
    padding: 5px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
