/* .title{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.custom-table{
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.custom-table th{
    background-color: mediumseagreen;
    color: #fff;
}

.custom-table tr:nth-child(odd){
    background-color: lightgrey;
}

.custom-table tr:nth-child(even){
    background-color: lightblue;
}

.main-heading {
    padding: 30px;;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.active{
    background-color: cornflowerblue;
    color: #fff;
    border: 1px solid red;
}

.btn{
    min-width: 150px;
    background-color: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.btn.btn-warning{
    background-color: seagreen;
}

.btn:hover{
    background-color: cornflowerblue;
}


.btn:disabled {
    background-color: #808080;
    cursor: not-allowed;
}


.title1{
    font-size: 20px;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th{
    background-color: mediumaquamarine;
}


tr:nth-child(odd){
    background-color: antiquewhite;
}
 
tr:nth-child(even){
    background-color: aqua;
}

.mHeading{
    padding: 30px;
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}

.main-nav{
    background-color: cornflowerblue;
    padding: 20px;
}

.list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
   
}

.link{
   text-decoration: none;
   color: #fff;
   font-size: 22px;
} */





/* Aplikacija - praksa */


/* Driver komponenta 1 */

.DriversChampionship-wrapperDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: gray;
    padding: 15px;
    font-weight: bold;
}

.drivers-title {
    color: white;
    font-style: italic;

}

.DriversChampionshipStandings-table {
    width: 100%;
    border-collapse: collapse;
}

.DriversChampionshipStandings-table td {
    border: 1px solid #dedede;
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    color: gray;
}

.raceTable-headerMain td {
    background-image: linear-gradient(#dedede, #aeaeae);
    padding: 6px;

}

tr td.boldNumbers {
    color:#333333;
}
/* Driver komponenta 2 */


.driver-details {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: gray;
    font-weight: bold;
}

.driver-details .driver-personal-details-div {
    background-color: #333333;
    color: white;
}

.driver-details .driver-personal-details-div .driver-personal-details-header {
    display: flex;
    padding: 10px;
}

.driver-details .driver-personal-details-div .driver-personal-details-header img {
    width: 80px;
}

.driver-details .driver-personal-details-div .driver-personal-details-header .driver-personal-details-name {
    padding-left: 10px;
}

.driver-details .driver-personal-details-div .driver-personal-details-table {
    border: 1px solid black;
    padding: 10px;
}

.driver-details .driver-race-details-div {
    flex-grow: 2;
    padding: 15px;
}

.driver-race-details-table {
    width: 100%;
    border-collapse: collapse;
}

.driver-race-details-table td {
    border: 1px solid #dedede;
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    color: gray;
}

.raceTable-headerUp td {
    background-image: linear-gradient(#dedede, #aeaeae);
    padding: 6px;
}

.raceTable-headerDown td {
    background-color: #dedede;
    color: black;
    padding: 5px;
}



/* Linkovi */

.items{
    display: flex;
    flex-direction: column; 
}

.item{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.main-route{
    display: flex;
    background-color:#333;
}

.navigation {
    width: 10vw;
    height: 100vh;
    margin: 0
}



/*
RACE
*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Roboto:wght@100&display=swap');

.raceWraperDiv{
    background-color: #8c8a8a;
    width: 100%;
   
}
.table{
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

.table th,
.table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.title{
    font-size: 40px;
    color: #fff;
    padding-top: 12px;
    padding-left: 10px;  
}

.tableHeader td{
    background-color: rgb(187, 186, 186);
    font-size: 22px;
}

.table-header th{
    background-color: rgb(205, 205, 205);
    font-size: 22px;
}

.grand-prix{
   display: flex;
   justify-content: left;
   align-items: center;
}

.flag{
    margin: 10px;
}

.grand-prix{
    cursor: pointer;
}


/*
RACE DETAILS
*/

.raceDetailsWraperDiv{
    display: flex;
    width: 100%;
}

table tr,
table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
 table{
    border-collapse: collapse; 
 }
 .table-qualifying-results{
    flex:0 0 40%;
    margin-right: 50px;
    background-color: #fff;
 }

.table-qualifying-results th,
.table-race-results th{
    padding: 20px;
}

 .table-race-results{
    flex: 0 0 40%;
    background-color: #fff;
 }

 .raceDetailsWraperDiv{
    background-color: #737272;
 }

 .grand-prix-details{
    background-color: #333333;
 }

 .grand-prix-details p{
  padding: 10px 20px 0 20px;
  color: white;
  font-size: 20px;
 } 
 
